.btn {
  border-radius: 8px;
  padding: 10px 36px;
  border: 1px solid $highlight-color;
  color: $highlight-color;
  margin-left: 10px;
}
.btn-bg {
  background-color: $highlight-color;
  color: #fff;
}
.btn-cta {
  background-color: $primary-color;
  border-radius: unset;
  border: unset;
  margin-left: 0;
  color: white;
}
