// text colors ============
$primary-text-color: rgba(37, 43, 66, 1);
$secondary-text-color: rgba(115, 115, 115, 1);
$highlight-text-color: rgba(42, 124, 199, 1);
$muted-color: rgba(189, 189, 189, 1);
$light-text-color: rgba(255, 255, 255, 1);

// button background colors ============
$primary-color: rgba(255, 166, 43, 1);
$highlight-color: rgba(142, 194, 242, 1);

// background colors ============
$dark-background-color: rgba(37, 43, 66, 1);

// card background color ============
$card-background-color: rgba(217, 237, 255, 1);

// layout ============

$columns: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);

$bp: (
  m: 768px,
  lg: 992px,
);
