.container-fluid {
  width: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .box-flex {
    display: flex;
  }
}

.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: span 8;
}

.col-9 {
  grid-column: span 9;
}

.col-10 {
  grid-column: span 10;
}

.col-11 {
  grid-column: span 11;
}

.col-12 {
  grid-column: span 12;
}

@media (min-width: 768px) {
  .col-md-1 {
    grid-column: span 1;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-12 {
    grid-column: span 12;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    grid-column: span 1;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-12 {
    grid-column: span 12;
  }
}
section {
  padding-top: 50px;
}

input,
select {
  width: 100%;
  background-color: #f9f9f9;
  padding: 10px 20px;
  border: 1px solid #bdbdbd;
  margin-bottom: 20px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul li {
  list-style: none;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: #737373;
  font-size: 14px;
}

img {
  display: block;
}

input:focus {
  background-color: white;
}

.btn {
  display: block;
  border-radius: 8px;
  padding: 10px 36px;
  border: 1px solid #8ec2f2;
  color: #8ec2f2;
  margin-left: 10px;
}

.btn-bg {
  background-color: #8ec2f2;
  color: #fff;
}

.btn-cta {
  background-color: #ffa62b;
  border-radius: unset;
  border: unset;
  margin-left: 0;
  color: white;
}

footer {
  background-color: #252b42;
  color: white;
  font-size: 1.6rem;
}

.footer-nav {
  padding: 4rem 0;
  border-bottom: 1px solid white;
}
.footer-nav h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  /* 24px */
  line-height: 3.2rem;
  /* 32px */
  letter-spacing: 0.1px;
  color: #252b42;
  color: white;
}

.info {
  padding: 6rem 0;
}
.info h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  /* 16px */
  line-height: 2.4rem;
  /* 24px */
  letter-spacing: 0.1px;
  color: #252b42;
  margin-bottom: 2rem;
  color: white;
}
.info a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  /* 14px */
  line-height: 2.4rem;
  /* 24px */
  letter-spacing: 0.2px;
  text-align: center;
  color: #737373;
  text-decoration: none;
  text-align: left;
  color: #bdbdbd;
  display: block;
}

.submit-box {
  position: relative;
}
.submit-box p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  /* 14px */
  line-height: 2rem;
  /* 20px */
  letter-spacing: 0.2px;
  text-align: center;
  color: #737373;
  color: #bdbdbd;
  text-align: left;
}
.submit-box button {
  border: none;
  display: block;
  top: 44px;
  right: 0;
  position: absolute;
  height: 27.5%;
  width: 30%;
  background-color: #ffa62b;
  color: white;
}

.background-blue {
  background-color: #8ec2f2;
}
.background-blue h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  /* 14px */
  line-height: 2.4rem;
  /* 24px */
  letter-spacing: 0.2px;
  color: #252b42;
  padding: 2rem 0;
  color: white;
}

@keyframes herofadeIn {
  50% {
    transform: translateY(6%);
  }
  75% {
    transform: translateY(-6%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.hero {
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 50px 0;
  background-color: #f7f7f7;
  color: #252b42;
}
@media (min-width: 768px) {
  .hero {
    text-align: left;
    background-image: url(../images/bg-1.jpeg);
  }
}
.hero-content {
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  background-image: url(../images/bg-1.jpeg);
  margin-top: 30px;
  opacity: 0;
  transform: translateY(-100%);
  animation: herofadeIn 1s linear forwards;
}
@media (min-width: 768px) {
  .hero-content {
    background-image: none;
  }
}
.hero form {
  text-align: left;
}
.hero form h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  /* 24px */
  line-height: 3.2rem;
  /* 32px */
  letter-spacing: 0.1px;
  color: #252b42;
  margin-bottom: 40px;
  text-align: center;
}
.hero .header__logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  /* 24px */
  line-height: 3.2rem;
  /* 32px */
  letter-spacing: 0.1px;
  color: #252b42;
}
.hero .header__nav-link {
  display: flex;
  justify-content: flex-end;
}
.hero .header__nav-link .link_item {
  display: none;
}
@media (min-width: 768px) {
  .hero .header__nav-link .link_item {
    display: block;
  }
}
.hero .header__nav-link .burger-menu a {
  margin-right: 0;
}
@media (min-width: 768px) {
  .hero .header__nav-link .burger-menu {
    display: none;
  }
}
.hero .header__nav ul li a {
  display: block;
  margin-right: 30px;
}
.hero .header__nav ul li a img {
  width: 16px;
}
.hero .hero__title {
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  /* 40px */
  line-height: 5.7rem;
  /* 57px */
  letter-spacing: 0.2px;
  color: #252b42;
}
@media (min-width: 768px) {
  .hero .hero__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 6.8rem;
    /* 68px */
    line-height: 8rem;
    /* 80px */
    letter-spacing: 0.2px;
    color: #252b42;
  }
}
.hero .hero__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
  margin: 30px 0;
  display: block;
}
.hero .hero__btn button {
  margin: 20px auto;
}
@media (min-width: 768px) {
  .hero .hero__btn button {
    margin: 0 10px 0 0;
  }
}
.hero .hero_book-app {
  background-color: white;
  padding: 40px;
}
.hero .menu--slide-out {
  max-height: 0;
  background-color: #f7f7f7;
  overflow: hidden;
  transition: max-height 0.6s ease-in-out;
}
@media (min-width: 768px) {
  .hero .menu--slide-out {
    display: none;
  }
}
.hero .menu--slide-out li a {
  width: 100%;
  font-size: 30px;
  line-height: 45px;
  justify-content: center;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 30px;
}
.hero .menu--slide-out li:nth-child(1) {
  padding-top: 30px;
}
.hero .hide img {
  position: absolute;
  top: 53px;
  right: 18px;
  width: 18px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .hero .hide img {
    display: none;
  }
}
.hero .hide-checkbox {
  position: absolute;
  left: -999px;
}
.hero #menu:checked ~ .menu--slide-out {
  max-height: 400px;
}

@keyframes fadeIn {
  0% {
    height: 0;
  }
  100% {
    opacity: 1;
    max-height: 400px;
    padding-top: 30px;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    height: fit-content;
    display: block;
  }
  50% {
    height: 300px;
    display: block;
  }
  100% {
    opacity: 1;
    height: 700px;
    padding: 0;
    display: block;
  }
}
.our-team {
  text-align: center;
}
.our-team__heading h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  /* 40px */
  line-height: 5.7rem;
  /* 57px */
  letter-spacing: 0.2px;
  color: #252b42;
}
.our-team__cards--founder {
  border: 1px solid #eee;
  padding-bottom: 30px;
}
.our-team__cards--founder .founder-image {
  height: 32vh;
  overflow: hidden;
  margin-bottom: 30px;
}
.our-team__cards--founder h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  /* 16px */
  line-height: 2.4rem;
  /* 24px */
  letter-spacing: 0.1px;
  color: #252b42;
}
.our-team__cards--founder h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  /* 14px */
  line-height: 2.4rem;
  /* 24px */
  letter-spacing: 0.2px;
  color: #252b42;
}
.our-team__cards--founder img {
  width: 100%;
}
.our-team__cards--founder .social-icon {
  display: flex;
  justify-content: center;
}
.our-team__cards--founder .social-icon img {
  width: 24px;
  height: 24px;
  margin: 15px;
}
.our-team p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.2px;
  text-align: center;
  color: #737373;
  width: 100%;
  max-width: 400px;
  margin-bottom: 2rem;
  margin: 0 auto;
}

.make-app {
  background-image: url(../images/cover.png);
  background-position: right;
  background-size: cover;
}
.make-app__img img {
  width: 100%;
}
.make-app__heading h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  /* 16px */
  line-height: 2.4rem;
  /* 24px */
  letter-spacing: 0.1px;
  color: #252b42;
}
.make-app__heading h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  /* 40px */
  line-height: 5.7rem;
  /* 57px */
  letter-spacing: 0.2px;
  color: #252b42;
}
.make-app form {
  padding: 10px;
}
.make-app form textarea {
  margin-bottom: 30px;
  width: 100%;
  padding: 20px;
}
@media (min-width: 768px) {
  .make-app form .btn-cta {
    width: 50%;
    padding: 15px 40px;
  }
}
.make-app .wrap-contact-us {
  background-color: #fff;
}
.make-app .contact-us {
  padding: 40px;
}
.make-app .contact-us h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  /* 24px */
  line-height: 3.2rem;
  /* 32px */
  letter-spacing: 0.1px;
  color: #252b42;
}
.make-app .contact-us p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  /* 14px */
  line-height: 2rem;
  /* 20px */
  letter-spacing: 0.2px;
  text-align: center;
  color: #737373;
  text-align: left;
}
@media (min-width: 768px) {
  .make-app .contact-us .col-md-6:nth-child(2) {
    padding: 20px;
  }
  .make-app .contact-us .col-md-6:nth-child(2) .btn-cta {
    display: block;
    margin-left: auto;
    width: 35%;
    min-width: 130px;
  }
}

.why-choose-us {
  font-size: 1.6rem;
}
.why-choose-us__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}
.why-choose-us__heading--h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  /* 40px */
  line-height: 5.7rem;
  /* 57px */
  letter-spacing: 0.2px;
  color: #252b42;
  text-align: center;
  margin-bottom: 2rem;
}
.why-choose-us__heading .small-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  /* 14px */
  line-height: 2rem;
  /* 20px */
  letter-spacing: 0.2px;
  text-align: center;
  color: #737373;
  width: 50%;
  margin-bottom: 2rem;
}
.why-choose-us__cards {
  background-color: #d9edff;
  padding: 2rem 0;
}
@media (min-width: 768px) {
  .why-choose-us__cards {
    background-color: unset;
  }
}
.why-choose-us__cards--webdev, .why-choose-us__cards--nation, .why-choose-us__cards--digital {
  background-color: #d9edff;
}
@media (min-width: 768px) {
  .why-choose-us__cards--webdev, .why-choose-us__cards--nation, .why-choose-us__cards--digital {
    margin-top: 60px;
  }
}
@media (min-width: 768px) {
  .why-choose-us__cards--digital {
    grid-column: 4/10;
  }
}
@media (min-width: 992px) {
  .why-choose-us__cards--digital {
    grid-column: span 4;
  }
}

@media (min-width: 768px) {
  .card-translate {
    transform: translateY(6rem);
    margin-top: -4rem;
  }
}

.card {
  padding: 0 2rem;
  border-radius: 4px;
}
.card-content {
  padding: 3rem 5rem;
  background-color: white;
  border: 1px solid #a9d6ff;
}
.card-content li {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  /* 14px */
  line-height: 2.4rem;
  /* 24px */
  letter-spacing: 0.2px;
  color: #252b42;
  list-style: circle;
  margin-bottom: 2rem;
}
.card-content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  /* 14px */
  line-height: 2.4rem;
  /* 24px */
  letter-spacing: 0.2px;
  text-align: center;
  color: #737373;
  text-decoration: none;
  color: #ffa62b;
  display: block;
  text-align: left;
  transition: transform 0.3s linear;
}
.card-content:hover a {
  transform: translateX(50px);
  color: #f78f00;
  display: block;
}

.card-header {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  width: fit-content;
  margin: auto;
}
.card-header .symbol-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  height: 7.2rem;
  width: 7.2rem;
}
.card-header h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  /* 16px */
  line-height: 2.4rem;
  /* 24px */
  letter-spacing: 0.1px;
  color: #252b42;
  padding-left: 1rem;
}

.service .why-choose-us__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}
.service .why-choose-us__heading--h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  /* 40px */
  line-height: 5.7rem;
  /* 57px */
  letter-spacing: 0.2px;
  color: #252b42;
  text-align: center;
  margin-bottom: 2rem;
}
.service .why-choose-us__heading .small-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  /* 14px */
  line-height: 2rem;
  /* 20px */
  letter-spacing: 0.2px;
  text-align: center;
  color: #737373;
  width: 50%;
  margin-bottom: 2rem;
}
.service__video img {
  width: 100%;
  margin-bottom: 8rem;
}
.service .background-blue {
  background-color: #8ec2f2;
  height: 40rem;
  position: absolute;
  transform: translateY(-400px);
  z-index: -5;
}

.clients {
  padding: 8rem 0;
  background-color: #f3f3f3;
}
.clients__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}
.clients__heading--h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  /* 40px */
  line-height: 5.7rem;
  /* 57px */
  letter-spacing: 0.2px;
  color: #252b42;
  text-align: center;
  margin-bottom: 2rem;
}
.clients__heading .small-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  /* 14px */
  line-height: 2rem;
  /* 20px */
  letter-spacing: 0.2px;
  text-align: center;
  color: #737373;
  width: 50%;
  margin-bottom: 2rem;
}
.clients__cards--card {
  background-color: white;
  padding: 0 2rem;
  border-radius: 4px;
  border: 1px solid #dedede;
}
.clients__cards--card .card-inside {
  padding-top: 2rem;
  background: #ffffff;
}
.clients__cards--card .card-inside .star-box {
  margin-bottom: 2rem;
  display: flex;
}
.clients__cards--card .card-inside h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  /* 14px */
  line-height: 2.4rem;
  /* 24px */
  letter-spacing: 0.2px;
  color: #252b42;
  margin-bottom: 2rem;
}

.client-box {
  display: flex;
}
.client-box div {
  padding-left: 1rem;
}
.client-box div span {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  /* 14px */
  line-height: 2.4rem;
  /* 24px */
  letter-spacing: 0.2px;
  text-align: center;
  color: #737373;
  text-decoration: none;
  color: #ffa62b;
}
.client-box div h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  /* 14px */
  line-height: 2.4rem;
  /* 24px */
  letter-spacing: 0.2px;
  color: #252b42;
}
.client-box img {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
}

/*# sourceMappingURL=style.css.map */
